.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.channel-image {
	width: 150px;
	height: 150px;
}

.subscriber-count-numbers span {
    padding: 0 7px;
	font-size: 25px;
}

.fetch-channels-results .channel-result {
    margin-bottom: 10px;
}

.fetch-channels-results .channel-result .media-left {
	margin-right: 10px;
}

.fetch-channels-results .channel-result .media-body {
    padding: 9px 0 5px;
}
